<%- include('header') %>

<h1><%= title %></h1>

<div class="cardsContainer">
    <% if(cards) {%>
    <% for(const card of cards){ %>

      <div class="card">
        <a href="/card/<%= card.id %>">
          <img src="../visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
          <p class="cardName"><%= card.name %></p>
        </a>
        <a class="link--addCard" title="Retirer au deck" href="/deck/remove/<%= card.id %>">[ - ]</a>
      </div>

    <% }} %>
</div>


<%- include('footer') %>